* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Roboto";
  src: url("/Fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("/Fonts/Poppins") format("truetype");
}
body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #06b6d4, #3b82f6);
}
#quiz-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  color: rgb(252, 252, 0);
  background-color: rgb(50, 136, 212);
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#quiz-nav ul {
  list-style: none;
}
#quiz-nav img {
  width: 30px;
  color: white;
}
h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
}
#account-icon {
  cursor: pointer;
  z-index: 1;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(131, 131, 131);
  color: black;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  font-size: 30px;
}
.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}
.modal {
  background: linear-gradient(to right, #06b6d4, #3b82f6);
  max-width: 100%;
  width: 600px;
  border-radius: 10px;
  box-shadow: 5px 10px rgb(57, 52, 52);
  text-align: center;
  padding: 30px 50px;
  font-family: "Oswald", sans-serif;
}
.modal h1 {
  margin: 0;
  font-size: 30px;
}

.modal p {
  font-size: 14px;
  opacity: 0.7;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(192, 236, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  transition: 0.3s;
  width: 300px;
  padding: 20px;
  align-items: center;
}
.card:hover {
  box-shadow: 0 12px 26px 0 rgba(0, 0, 0, 0.2);
}
.container {
  text-align: center;
  padding: 22px 16px;
  font-size: larger;
  font-family: "Poppins", sans-serif;
}
.card img {
  width: 100%;
}
button {
  font-size: 20px;
  padding: 9px 20px;
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
}
button:hover {
  background-color: #4ccb1a;
  color: white;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.9);
}
a {
  text-decoration: none;
  color: rgb(252, 252, 0);
  font-weight: bolder;
}

.account-details {
  display: inline-block;
  text-align: left;
}

.score-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: x-large;
}

.bold {
  font-weight: 600;
}
